@page "/"
@page "/{*pageRoute}"

<PageTitle>Numerology Calculator</PageTitle>

<div class="p-3">
    <div class="input-group">
        <input type="text"
               class="form-control"
               placeholder="Enter your values.."
               @bind="_textInput"
               @bind:event="oninput"
               maxlength="@_maxChars"
               @ref="_textInputRef" />
        <div class="input-group-prepend">
            <button type="button"
                    class="btn btn-outline-secondary"
                    disabled="@(_textInput.Length == 0)"
                    @onclick="OnInputClear">
                <span class="oi oi-x"></span>
            </button>
        </div>
    </div>
    <i class="d-flex justify-content-end small text-muted mt-1">
        <span>@_textInput.Length</span>
        <span>/</span>
        <span>@_maxChars</span>
    </i>

    <DigitAdder MaxChars="@_maxChars" TextInput="@_textInput" />
</div>

@code {
    [Parameter]
    public string? PageRoute { get; set; }

    private ElementReference _textInputRef;
    private string _textInput = string.Empty;
    private int _maxChars = Consts.MaxInputChars;

    private async Task OnInputClear(MouseEventArgs mouseEventArgs)
    {
        _textInput = string.Empty;
        await _textInputRef.FocusAsync();
    }
}
