@page "/"
@page "/{*text}"

@inject NavigationManager navigationManager

<PageTitle>Numerology Calculator</PageTitle>

<div class="p-3">
    <div class="input-group">
        <input type="text"
               class="form-control"
               placeholder="Enter your values.."
               value="@_textInput"
               @oninput="OnInput"
               maxlength="@_maxChars"
               @ref="_textInputRef" />
        <div class="input-group-prepend">
            <button type="button"
                    class="btn btn-outline-secondary"
                    disabled="@(_textInput.Length == 0)"
                    @onclick="OnInputClear">
                <span class="oi oi-x"></span>
            </button>
        </div>
    </div>
    <i class="d-flex justify-content-end small text-muted mt-1">
        <span>@_textInput.Length</span>
        <span>/</span>
        <span>@_maxChars</span>
    </i>

    <DigitAdder MaxChars="@_maxChars" TextInput="@_textInput" />
</div>

@code {
    [Parameter]
    public string? Text { get; set; }

    private ElementReference _textInputRef;
    private string _textInput = string.Empty;
    private int _maxChars = Consts.MaxInputChars;

    private async Task OnInputClear(MouseEventArgs mouseEventArgs)
    {
        _textInput = string.Empty;
        await _textInputRef.FocusAsync();

        navigationManager.NavigateTo("/", false, true);
    }

    private void OnInput(ChangeEventArgs changeEventArgs)
    {
        _textInput = changeEventArgs.Value?.ToString() ?? string.Empty;

        navigationManager.NavigateTo($"/{_textInput}", false, true);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _textInputRef.FocusAsync();

            if (Text is { })
            {
                _textInput = Text;
                StateHasChanged();
            }
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}
