@page "/"
@page "/{*text}"

@inject NavigationManager navigationManager
@inject NumerologyUiConfig numerologyUiConfig

<PageTitle>Numerology Calculator</PageTitle>

<div class="sticky-md-top z-3 px-3 pt-4 pb-0 bg-white">
    <div class="input-group sticky-md-top">
        <input type="text"
               class="form-control"
               placeholder="Enter your values.."
               maxlength="@numerologyUiConfig.MaxInputChars"
               @bind:event="oninput"
               @bind:get="_textInput"
               @bind:set="OnInput"
               @ref="_textInputRef" />
        <div class="input-group-prepend">
            <button type="button"
                    class="btn btn-outline-secondary"
                    disabled="@(_textInput.Length == 0)"
                    @onclick="OnInputClear">
                <span class="oi oi-x"></span>
            </button>
        </div>
    </div>
    <i class="d-flex small text-muted mt-1">
        @if (Loading)
        {
            <span class="loading flex-shrink-0"></span>
        }
        <span class="flex-fill"></span>
        <span class="flex-shrink-0">@_textInput.Length</span>
        <span class="flex-shrink-0">/</span>
        <span class="flex-shrink-0">@numerologyUiConfig.MaxInputChars</span>
    </i>
</div>

<div class="px-3 pt-0 pb-4">
    <DigitAdder TextInput="@_textInput" LoadingChanged="v => _digitAdderLoading = v" />

    <LetterAdder TextInput="@_textInput" LoadingChanged="v => _letterAdderLoading = v" />
</div>

@code {
    [Parameter]
    public string? Text { get; set; }

    private ElementReference _textInputRef;
    private string _textInput = string.Empty;
    private bool _digitAdderLoading;
    private bool _letterAdderLoading;

    public bool Loading => _digitAdderLoading || _letterAdderLoading;

    private async Task OnInputClear(MouseEventArgs mouseEventArgs)
    {
        _textInput = string.Empty;
        await _textInputRef.FocusAsync();

        navigationManager.NavigateTo("./", false, true);
    }

    private void OnInput(string value)
    {
        _textInput = value;

        navigationManager.NavigateTo($"./{value}", false, true);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _textInputRef.FocusAsync();

            if (Text is { })
            {
                _textInput = Text;
                StateHasChanged();
            }
        }

        await base.OnAfterRenderAsync(firstRender);
    }
}
